[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=cale
WorkingDirectory=/home/cale/sites/DOMAIN
EnvironmentFile=/home/cale/sites/DOMAIN/.env 

ExecStart=/home/cale/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target